#information {
    max-width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0.5em;
    column-count: 2;
    column-width: 50%;
    column-gap: 1em;
}
/* because of padding it seems that text block > 80% of page */
#about_image {
    max-width: 100%;
    height: auto;
}

table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    }
    
caption {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    text-align: center;
}
    
th, td {
    text-align: center;
    border: 1px solid black;
}
thead {
    background-color: #4A8BDF;
    }

tbody > tr:nth-child(odd) {
    background-color: white;
}
    
tr:nth-child(even) {
    background-color: gray;
}
    
tbody tr:hover {
       background-color: #EFFAFD;
}
