nav {
    margin-bottom: 2em;
}
table {
    background-color: white;
    margin: 0 auto 0;
    width: 90%;

}
thead {
    background-color: #FFC436;
}
th, td {
    text-align: center;
    padding: 5px;
}
tbody > tr:nth-child(odd) {
    background-color: white;
}
    
tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.61);
}
    
tbody tr:hover {
    background-color: #6ACFC7;
}
table + h2 {
    text-align: center;
}