nav, #welcome, #application_form {
  display: none;
}
#buttons a{
    border: 1px black solid;
    text-decoration: none;
    text-align: center;
    pointer-events: none;
    cursor: default;
    padding: 5px 10px;
    border-radius: 8px;
}
footer {
    margin-top: 10px;
}
h2 {
    margin: 5px 0px 5px;
}
table {
    border: 1px black solid;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin: 0 auto 0;
}
th, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 3px;
}
.logo img {
  width: 300px;
  height: 75px;
}

footer img {
  width: 250px;
  height: 75px;
}