body .promotion, .information_table {
    margin: 2%;
}
#science_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#engineering_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
figcaption {
    text-align: center;
    margin: 30% 1% 1%;
}
.promotion {
    margin-left: 3%;
    margin-right: 3%;
}
.promotion figure video {
    width: 90%; 
    opacity: 1;
  }
.information_table table {
    width: 90%;
    border: 1px #f2f2f2 solid;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
.information_table th {
    background-color: #f2f2f2d8;
    text-align: center;
    padding: 10px;
    border: 1px #f2f2f2 solid;
  }
  
.information_table td {
    text-align: center;
    padding: 10px;
    border: 1px #f2f2f2 solid;
  }

video {
    opacity:0; 
    transition: 1s;
    animation: show 3s 1; 
    animation-fill-mode: forwards; 
    animation-delay: 1s; 
}
@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }

 